@font-face {
  font-family: Ratchicons;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/ratchicons.eot");
  src: url("../fonts/ratchicons.eot?#iefix") format("embedded-opentype"), url("../fonts/ratchicons.woff") format("woff"), url("../fonts/ratchicons.ttf") format("truetype"), url("../fonts/ratchicons.svg#svgFontName") format("svg");
}

/* line 16, ../sass/ratchicons.scss */
.icon {
  display: inline-block;
  font-family: Ratchicons;
  font-size: 24px;
  line-height: 1;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

/* line 25, ../sass/ratchicons.scss */
.icon-back:before {
  content: '\e80a';
}

/* line 26, ../sass/ratchicons.scss */
.icon-bars:before {
  content: '\e80e';
}

/* line 27, ../sass/ratchicons.scss */
.icon-caret:before {
  content: '\e80f';
}

/* line 28, ../sass/ratchicons.scss */
.icon-check:before {
  content: '\e810';
}

/* line 29, ../sass/ratchicons.scss */
.icon-close:before {
  content: '\e811';
}

/* line 30, ../sass/ratchicons.scss */
.icon-code:before {
  content: '\e812';
}

/* line 31, ../sass/ratchicons.scss */
.icon-compose:before {
  content: '\e813';
}

/* line 32, ../sass/ratchicons.scss */
.icon-download:before {
  content: '\e815';
}

/* line 33, ../sass/ratchicons.scss */
.icon-edit:before {
  content: '\e829';
}

/* line 34, ../sass/ratchicons.scss */
.icon-forward:before {
  content: '\e82a';
}

/* line 35, ../sass/ratchicons.scss */
.icon-gear:before {
  content: '\e821';
}

/* line 36, ../sass/ratchicons.scss */
.icon-home:before {
  content: '\e82b';
}

/* line 37, ../sass/ratchicons.scss */
.icon-info:before {
  content: '\e82c';
}

/* line 38, ../sass/ratchicons.scss */
.icon-list:before {
  content: '\e823';
}

/* line 39, ../sass/ratchicons.scss */
.icon-more-vertical:before {
  content: '\e82e';
}

/* line 40, ../sass/ratchicons.scss */
.icon-more:before {
  content: '\e82f';
}

/* line 41, ../sass/ratchicons.scss */
.icon-pages:before {
  content: '\e824';
}

/* line 42, ../sass/ratchicons.scss */
.icon-pause:before {
  content: '\e830';
}

/* line 43, ../sass/ratchicons.scss */
.icon-person:before {
  content: '\e832';
}

/* line 44, ../sass/ratchicons.scss */
.icon-play:before {
  content: '\e816';
}

/* line 45, ../sass/ratchicons.scss */
.icon-plus:before {
  content: '\e817';
}

/* line 46, ../sass/ratchicons.scss */
.icon-refresh:before {
  content: '\e825';
}

/* line 47, ../sass/ratchicons.scss */
.icon-search:before {
  content: '\e819';
}

/* line 48, ../sass/ratchicons.scss */
.icon-share:before {
  content: '\e81a';
}

/* line 49, ../sass/ratchicons.scss */
.icon-sound:before {
  content: '\e827';
}

/* line 50, ../sass/ratchicons.scss */
.icon-sound2:before {
  content: '\e828';
}

/* line 51, ../sass/ratchicons.scss */
.icon-sound3:before {
  content: '\e80b';
}

/* line 52, ../sass/ratchicons.scss */
.icon-sound4:before {
  content: '\e80c';
}

/* line 53, ../sass/ratchicons.scss */
.icon-star-filled:before {
  content: '\e81b';
}

/* line 54, ../sass/ratchicons.scss */
.icon-star:before {
  content: '\e81c';
}

/* line 55, ../sass/ratchicons.scss */
.icon-stop:before {
  content: '\e81d';
}

/* line 56, ../sass/ratchicons.scss */
.icon-trash:before {
  content: '\e81e';
}

/* line 57, ../sass/ratchicons.scss */
.icon-up-nav:before {
  content: '\e81f';
}

/* line 58, ../sass/ratchicons.scss */
.icon-up:before {
  content: '\e80d';
}

/* line 59, ../sass/ratchicons.scss */
.icon-right-nav:before {
  content: '\e818';
}

/* line 60, ../sass/ratchicons.scss */
.icon-right:before {
  content: '\e826';
}

/* line 61, ../sass/ratchicons.scss */
.icon-down-nav:before {
  content: '\e814';
}

/* line 62, ../sass/ratchicons.scss */
.icon-down:before {
  content: '\e820';
}

/* line 63, ../sass/ratchicons.scss */
.icon-left-nav:before {
  content: '\e82d';
}

/* line 64, ../sass/ratchicons.scss */
.icon-left:before {
  content: '\e822';
}
