<div class="container-fluid">

##Use one touch in middle to show all the toolbars and metadata
##otherwise just look for swipe events on image or on the sides of video

<div id="detailspanel">

<div id="playbutton" class="glyphicon glyphicon-play"></div>


<div class="goleftlick" >
##Only needed if there is a previous image
</div>

<div class="playerarea">
	
#set( $type = $mediaarchive.getMediaRenderType($asset.fileFormat))
$pages.include("$apphome/components/players/types/${type}.html",$context)

</div>

<div id="closebutton" class="glyphicon glyphicon-remove-circle"></div>

<div class="gorightlick" >
</div>

</div>

</div>