<?xml version='1.0' encoding='utf-8'?>
<widget id="net.entermediadb.%sub_domain" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>%client_name</name>
    <description>
	A mobile client for use with the %client_name DAM
</description>
    <author email="help+%client_id@entermediasoftware.com" href="http://entermediasoftware.com">
	EnterMedia
</author>
    <content src="http://%sub_domain.entermediadb.net/%client_id/em-mobile/" />
    <access origin="*" />
</widget>
