#hiddenoverlay
{
	background-color: black;
	display:none;
	
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10,10,10,0.95);

    z-index: 10000;
	
}

.playerarea .player
{
	width:100%;
	background-size: 100% auto;
}

#playbutton
{
	font-size:30px;
	color: rgb(200,200,200);
	position: fixed;
	left:40px;
	top: 10px;
	z-index: 10001;
}

#closebutton
{
	font-size:30px;
	color: rgb(200,200,200);
	position: fixed;
	right:40px;
	top: 10px;
	z-index: 10001;
}

.imageplayer img
{
	width:100%;
}

.masonry-grid
{
	background-color: rgb(230,230,230);
}

.masonry-grid-cell
{
	margin: 15px;
	padding: 0;
	border: 0;
	text-overflow: ellipsis;

}
.masonry-grid-cell .imagearea
{
	overflow: hidden;
}
.masonry-grid-cell #emthumbholder img
{
}

.masonry-grid-cell .caption
{
	bottom: 0px;
}

.filters-sidebar
{
	
}